.App {
  margin: 10px;
  border: 1px solid #5fb8b2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.headerTitle {
  padding: 10px;
  background-color: #5fb8b2;
}

@media (prefers-reduced-motion: no-preference) {
  /* .loading {
    animation: App-logo-spin infinite 20s linear;
  } */
}
.loading {
  color: #5fb8b2;
  font-size: 40px;
  text-align: center;
}

.App-header {
  margin: 30px;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
